.board {
  margin: 0 auto;
  width: 1000px;
}

.board__row {
  display: flex;
  flex-direction: row;
}

.board__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  cursor: pointer;
  user-select: none;
}

.board__cell--alive {
  background-color: rgba(0, 255, 0, .25);
}

.board__cell--dead {
  background-color: rgba(255, 0, 0, .25);
}
